@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
}

.word{
  white-space: break-spaces;
}

.counter {
  font-size: 3em;
  padding: 15px;
}

.quotebox, .results {
  display: inline;
  padding-bottom: 50px;
  font-size: 1.5em;
}

.word {
display: inline;
}

.quote-correct {
color:blue;
}

.quote-mistake {
color:red;
}

.quote-todo {
color:black;
}

.text-container {
width: 85vw;
margin: auto;
display:flex;
flex-direction: column;
justify-content: center;
text-align: center;

/* Items to the middle */
position: relative;
align-items: center;
min-height: 80vh;
}

#text-overlay-class, textarea {
  position: absolute;
  top: 0vh;
  left: 0vw;
}

textarea {
  opacity: 0;
  width: 100%;
  height: 99%;
  z-index: 9;
}

.leaderboard {
  display: flex;
  flex-direction: column;
}

.leaderboard-header {
  padding-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.player-score-container, .leaderboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-active-score {
  color:rgb(177, 47, 112);
  }

input {
  color:rgb(177, 47, 112);
  font-family: 'Roboto Mono', monospace;
  border: none;
  font-size: 1em;
  width: 150px;
  padding: 0;
}

.score-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  width: 70vw;
  height: 100%;
}

.whitespace{
  /* text-decoration: underline; */
  /* white-space: pre; */
  /* color: red; */
  background-color: red;
}


.top-bar {
  width: 65vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-bar-button {
  background: none!important;
  border: none;
  padding-top: 5px;
  padding-left: 5px;
  font-family: 'Roboto Mono', monospace;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  font-size: 3.75vw;
}

.retry-button {
  background: none!important;
  border: none;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  font-weight: bold;
  color:rgb(53, 49, 49)
}

@media screen and (min-width: 720px) {
  .counter {
    font-size: 5em;
    padding: 15px;
  }

  .text-container{
    width: 75vw;
  }

  .quotebox, .results {
    font-size: 2.5em;
  }

  input {
    width: 267px;
  }

  .retry-button {
    font-size: 2em;
  }

  .top-bar {
    width: 45vw;
  }
  .top-bar-button {
    font-size: 2.5vw;
  }

}

@media screen and (min-width: 1024px) {
  .text-container{
    width: 55vw;
  }

  .top-bar {
    width: 25vw;
  }

  .top-bar-button {
    font-size: 1.33vw;
  }

  .score-screen {
    flex-direction: row;
    align-items: center;
  }
  
  .chart {
    padding-left: 50px;
    width: 35vw;
    height: 100%;
  }
}




