@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
}

.word{
  white-space: break-spaces;
}

.counter {
  font-size: 5em;
  padding: 15px;
}

.quotebox, .results {
  display: inline;
  font-size: 2em;
}

.word {
display: inline;
}

.quote-correct {
color:blue;
}

.quote-mistake {
color:red;
}

.quote-todo {
color:black;
}

.text-container {
width: 800px;
margin-left:auto;
margin-right:auto;
display:flex;
flex-direction: column;
justify-content: center;

/* Items to the middle */
position: relative;
align-items: center;
min-height: 90vh;
}

#text-overlay-class, textarea {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10vh;
  left: -10vh;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

textarea {
    opacity: 0;
    width: 110vh;
    height: 80vh;
    z-index: 9;
}

.leaderboard {
  display: flex;
  flex-direction: column;
}

.leaderboard-header {
  padding-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.player-score-container, .leaderboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-active-score {
  color:rgb(177, 47, 112);
  }

input {
  color:rgb(177, 47, 112);
  font-family: 'Roboto Mono', monospace;
  border: none;
  font-size: 1em;
  width: 75%;
}
