.quotebox {
    display: inline;
    font-size: 18px;
}

.word {
    display: inline;
}

.letter {
    display: inline-block;
}

.one {
    color:blue;
}

.two {
    color:black;
}

.text-container {
    width: 500px;
}

#text-box {
    opacity: 0;
}