.quotebox {
    display: inline;
    font-size: 18px;
}

.word {
    display: inline;
}

.letter {
    display: inline-block;
}

.quote-correct {
    color:blue;
}

.quote-mistake {
    color:red;
}

.quote-todo {
    color:black;
}

.text-container {
    width: 500px;
}

#text-box {
    /* opacity: 0; */
}