@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.word{
  white-space: break-spaces;
}

.quotebox {
display: inline;
font-size: 2em;
font-family: 'Roboto Mono', monospace;
}

.word {
display: inline;
}

.quote-correct {
color:blue;
}

.quote-mistake {
color:red;
}

.quote-todo {
color:black;
}

.text-container {
width: 800px;
margin-left:auto;
margin-right:auto;
display:flex;
flex-direction: column;
justify-content: center;

/* Items to the middle */
align-items: center;
min-height: 90vh;
}

#text-box {
    /* opacity: 0; */
}
